@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cag{
    font-family: 'Merriweather Sans', sans-serif;
    color: #3A3A3A;
}

.cag h1, h2{
    font-family: 'Playfair Display', serif;
}

.cag .font-playfair{
    font-family: 'Playfair Display', serif;
}

.cag .font-italianno{
    font-family: 'Italianno', cursive;
}

.cag .text-secondary{
    color: #FFC997;
}

.cag .bg-dark{
    background-color: #3A3A3A;
}

.cag section{
    @apply relative overflow-hidden;
}

.cag section.reset{
    overflow: initial !important;
}

.cag .transition-basic{
    @apply transition-all duration-500 ease-in-out;
}

.cag .transition-legend{
    @apply transition-all duration-200 ease-in;
}

.cag .modal{
    @apply fixed top-0 left-0 right-0 bottom-0 w-full h-full z-[60];
}

.cag .swiper-button-next, .swiper-button-prev{
    width: 50px !important;
    height: 50px !important;
    background-color: #E3965A !important;
    @apply p-3 rounded-full hover:opacity-80 transition-all duration-500 ease-in-out;
}

.cag .swiper-button-next::after, .swiper-button-prev::after{
    font-size: 24px !important;
    color: white !important;
}

.cag .swiper-button-next::after{
    margin-left: 4px !important;
}

.swiper-button-prev::after{
    margin-right: 4px !important;
}